.moon {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url('../Assets/moon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;    
  .canvas-container{
    top: 66px;
    z-index: 999;
    position: absolute !important;
  }
  > .box{
    position: relative;
    width: 100%;
    height: 395px;
    text-align: center;
    > .tip{
      position: absolute;
      top: 180px;
      width: 100%;
      > img {
        width: 180px;
      }
    }
    > .tipScore{
      color: #FFF697;
      font-size: 60px;
      font-family:serif;
      > span {
        font-size: 16px;
      }
      > p{
        font-size: 16px;
        margin-top: 10px;
        font-weight: 300;
        > .bold{
          font-weight: bold;
          font-family: serif;
        }
      }
    }
    > img{
      width: 340px;
      margin-top: 40px;
    }
  }
}
.moonsuccess{
  background-image: url('../Assets/moonsuccess.png');
  > .menu{
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    > a{
      margin: 0 15px;
    }
  }
}